@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic");

@font-face {
  font-family: Nexa;
  src: url("font/Nexa Bold.otf");
}

body {
  font-size: 14px;
  line-height: 20px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding-top: 40px;
  background: #EBEBEB;
}

header .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

header .container .upHead {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
}

.logo img {
  height: 100%;
  margin-right: 20px;
}

.logo div h1 {
  font-size: 50px;
  font-family: "Nexa";
  color: #6017a3;
  line-height: 0.82;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.logo div span {
  font-size: 12px;
  font-family: "PT Sans";
  color: #7d7d7d;
  font-style: italic;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.headForm {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.headForm .pair {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headForm .pair .quick input {
  cursor: pointer;
  height: 25px;
  background: url("img/01_map_pin.png") calc(100% - 20px) center no-repeat;
  font-size: 12px;
  font-family: "Nexa";
  color: #d5d5d5;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  border: 0;
  border-right: 1px solid #C7C7C7;
  padding-right: 40px;
}

.headForm .pair .dropdown {
  background: url("img/01_dd.png") no-repeat right center;
}

.headForm .pair .dropdown select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  font-family: "Nexa";
  color: #6324A1;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  border: 0;
  background: transparent;
  padding-right: 20px;
}

.headForm .pair .dropdown select .placeholder {
  display: none;
}

.headForm .search {
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.headForm .search input[type="search"] {
  height: 47px;
  width: 260px;
  font-size: 12px;
  font-family: "Nexa";
  color: #959595;
  font-weight: bold;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
  border: 0;
}

.headForm .search input[type="submit"] {
  cursor: pointer;
  height: 47px;
  width: 40px;
  background: url("img/01_clock .png") no-repeat center center, #fff;
  border: 0;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: -10px;
}

header nav div {
  background: #701DBB;
}

header nav div:hover a {
  color: #701dbb;
  top: -20px;
}

header nav div:hover a img {
  filter: grayscale(0);
}

header nav div a {
  position: relative;
  margin: 0;
  text-decoration: none;
  font-size: 17px;
  font-family: "PT Sans";
  color: #707070;
  font-weight: bold;
  text-align: center;
  display: block;
  background-image: linear-gradient(90deg, #d7d7d7 0%, white 100%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
  padding-bottom: 30px;
  top: 0;
  transition: color 0.5s, top 0.5s;
}

header nav div a:hover {
  color: #701dbb;
  top: -20px;
}

header nav div a:hover img {
  filter: grayscale(0);
}

header nav div a img {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
  padding-top: 20px;
  padding-bottom: 15px;
  filter: grayscale(100);
  transition: filter 0.5s;
  height: 27px;
}

main .slider {
  position: relative;
  background: url("img/03_brige.jpg");
  background-size: cover;
  background-position: center;
  height: 552px;
  overflow: hidden;
}

main .slider .slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

main .slider .slider-img img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

main .slider .title_slider {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main .slider .title_slider .img {
  width: 138px;
  height: 138px;
  background: url("img/03_fon.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .slider .title_slider .img img {
  cursor: pointer;
  transition: transform 0.5s;
}

main .slider .title_slider .img img:hover {
  transform: scale(1.1);
}

main .slider .title_slider .title h2,
main .slider .title_slider .title span {
  font-size: 40px;
  font-family: "Nexa";
  color: white;
  font-weight: normal;
  line-height: 1.175;
  text-align: center;
}

main .slider .title_slider .title span {
  display: block;
  font-size: 20px;
}

main .map {
  background: #2D2D2D;
}

main .map .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}

main .map .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

main .map .container .title h2,
main .map .container .slider .title_slider .title span,
main .slider .title_slider .map .container .title span {
  font-size: 36px;
  font-family: "Nexa";
  color: white;
  line-height: 1.1;
  text-align: center;
}

main .map .container .title span {
  display: block;
  font-size: 14px;
  font-family: "Nexa";
  color: #a161db;
  font-weight: bold;
  line-height: 1.571;
  text-align: center;
  padding-top: 10px;
}

main .map .container img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

main .grey {
  background: #2D2D2D;
}

main .grey .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

main .grey .container .row-betw {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

main .grey .container .row-betw .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
}

main .grey .container .row-betw .info div {
  height: 76px;
  width: 84px;
  align-self: center;
  margin-bottom: 45px;
  text-align: center;
}

main .grey .container .row-betw .info h3 {
  font-size: 24px;
  font-family: "Nexa";
  color: white;
  line-height: 0.917;
  margin-bottom: 15px;
}

main .grey .container .row-betw .info p {
  font-size: 12px;
  font-family: "Arial";
  color: white;
  line-height: 1.833;
}

main .grey .container .lines {
  position: absolute;
  margin: 0 -15px;
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

main .grey .container .lines .line1 {
  margin-right: calc(8.3333% + 15px);
}

main .grey .container .lines .line2 {
  margin-left: calc(8.3333% + 15px);
}

main .tv {
  background: #2D2D2D;
  position: relative;
}

main .tv .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .tv .container .title {
  position: absolute;
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 28%;
  box-sizing: border-box;
  z-index: 2;
}

main .tv .container .title h2,
main .tv .container .slider .title_slider .title span,
main .slider .title_slider .tv .container .title span {
  max-width: 100%;
  font-size: 36px;
  font-family: "Nexa";
  color: white;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.004);
  margin-bottom: 3%;
}

main .tv .container .title p {
  font-size: 14px;
  font-family: "Nexa";
  color: #a161db;
  font-weight: bold;
  line-height: 1.571;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.004);
}

main .tv .container img {
  display: block;
  position: relative;
  max-width: 100%;
  object-fit: contain;
  z-index: 1;
}

main .team {
  background: #EBEBEB;
}

main .team .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  padding-top: 80px;
}

main .team .container .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .team .container .title h2,
main .team .container .slider .title_slider .title span,
main .slider .title_slider .team .container .title span {
  font-size: 36px;
  font-family: "Nexa";
  color: #717171;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

main .team .container .title span {
  padding-top: 10px;
  font-size: 14px;
  font-family: "Nexa";
  color: #717171;
  font-weight: bold;
  line-height: 1.571;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

main .team .container .row-man {
  margin: 40px -15px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  overflow: hidden;
}

main .team .container .row-man .wrap-man {
  display: flex;
  justify-content: center;
}

main .team .container .row-man .wrap-man .man {
  max-width: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

main .team .container .row-man .wrap-man .man .img {
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  border: 5px solid #fff;
  margin-bottom: 20px;
}

main .team .container .row-man .wrap-man .man .img .photo {
  display: block;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}

main .team .container .row-man .wrap-man .man .img .twit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 40px;
  background: #701dbb;
  z-index: 2;
}

main .team .container .row-man .wrap-man .man .name {
  font-size: 18px;
  font-family: "PT Sans";
  color: #7b7b7b;
  font-weight: bold;
  line-height: 1.222;
  align-self: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

main .team .container .row-man .wrap-man .man .work {
  font-size: 14px;
  font-family: "PT Sans";
  color: #7b7b7b;
  line-height: 1.571;
  align-self: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

main .team .container .row-man .hide-man {
  display: none;
}

main .team .container .row-panel-man {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 -15px;
  padding-bottom: 40px;
}

main .team .container .row-panel-man .point {
  cursor: pointer;
  display: block;
  filter: grayscale(1) brightness(1.865);
  margin-right: 8px;
}

main .team .container .row-panel-man .active {
  cursor: default;
  filter: grayscale(0) brightness(1);
}

main .content {
  background: #EBEBEB;
}

main .content .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

main .content .container .news {
  position: relative;
  background: #fff;
  padding: 60px 60px 90px 50px;
  margin-top: 15px;
}

main .content .container .news .add {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8f33c4;
}

main .content .container .news .add span {
  font-size: 26px;
  font-family: "NexaRegular";
  color: white;
}

main .content .container .news h3 {
  font-size: 30px;
  font-family: "Nexa";
  color: #252525;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  margin-bottom: 30px;
}

main .content .container .news .color-text {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: #6017a3;
  line-height: 1.786;
  text-align: left;
  margin-bottom: 40px;
}

main .content .container .news .text {
  font-size: 12px;
  font-family: "Arial";
  color: #949494;
  line-height: 1.786;
  text-align: left;
}

main .content .container .add-news {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

main .content .container .info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

footer {
  background: #373737;
  border-top: 5px solid #914dcf;
  padding-top: 20px;
  padding-bottom: 250px;
}

footer .foot-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

footer .foot-container .row-up {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

footer .foot-container .row-up .about .logo h1 {
  color: #fff;
}

footer .foot-container .row-up .about .logo span {
  color: #fff;
}

footer .foot-container .row-up .about .info-about {
  margin-top: 40px;
  width: 100%;
  font-size: 12px;
  font-family: "Helvetica";
  color: white;
  line-height: 1.917;
}

footer .foot-container .row-up .links nav {
  width: 100%;
}

footer .foot-container .row-up .links nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

footer .foot-container .row-up .links nav ul li {
  color: #767676;
}

footer .foot-container .row-up .links nav ul li a {
  height: 30px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-family: "Nexa";
  color: white;
  font-weight: bold;
}

footer .foot-container .row-up .links nav ul li a:hover {
  border-bottom: 4px solid #914dcf;
}

footer .foot-container .row-up .links .soc {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .foot-container .row-up .links .soc a {
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-family: "PT Sans";
  color: white;
  font-weight: bold;
}

footer .foot-container .row-up .links .soc a img {
  margin-right: 5px;
}

footer .foot-container .row-down {
  margin: 0 -15px;
  width: 100%;
  display: flex;
}

footer .foot-container .row-down p {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 11px;
  font-family: "Helvetica";
  color: #7e7e7e;
  line-height: 1.909;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */

@media screen and (min-width: 1200px) {
  .logo {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(33.33333% - 30px);
  }

  .headForm {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(66.66667% - 30px);
  }

  header nav div {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    flex-basis: calc(16.66667% - 0px);
  }

  main .slider .title_slider .title {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    width: calc(50% - 0px);
  }

  main .grey .container .row-betw .info {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(33.33333% - 30px);
  }

  main .team .container .row-man .wrap-man {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(25% - 30px);
  }

  main .content .container .add-news .news {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(50% - 30px);
  }

  main .content .container .info .news {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }

  footer .foot-container .row-up .about {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(58.33333% - 30px);
  }

  footer .foot-container .row-up .links {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(41.66667% - 30px);
  }

  footer .foot-container .row-down p {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(83.33333% - 30px);
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(33.33333% - 30px);
  }

  .headForm {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(66.66667% - 30px);
  }

  header nav div {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    flex-basis: calc(16.66667% - 0px);
  }

  main .slider .title_slider .title {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    width: calc(50% - 0px);
  }

  main .grey .container .row-betw .info {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(33.33333% - 30px);
  }

  main .team .container .row-man .wrap-man {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(25% - 30px);
  }

  main .content .container .add-news .news {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(50% - 30px);
  }

  main .content .container .info .news {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }

  footer .foot-container .row-up .about {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(58.33333% - 30px);
  }

  footer .foot-container .row-up .links {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(41.66667% - 30px);
  }

  footer .foot-container .row-down p {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(83.33333% - 30px);
  }
}

@media screen and (max-width: 992px) {
  header nav div {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    flex-basis: calc(33.33333% - 0px);
  }

  main .slider .title_slider .title {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    width: calc(66.66667% - 0px);
  }

  main .grey .container .lines {
    display: none;
  }

  main .team .container .row-man .wrap-man {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(50% - 30px);
  }

  main .content .container .add-news .news {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }

  footer .foot-container .row-up .about {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(58.33333% - 30px);
  }

  footer .foot-container .row-up .links {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(41.66667% - 30px);
  }

  footer .foot-container .row-down p {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .headForm {
    flex-wrap: wrap;
  }

  .headForm .search {
    margin-left: 0;
  }

  footer .foot-container .row-up .about {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }

  footer .foot-container .row-up .links {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }

  footer .foot-container .row-up .links .soc {
    width: 100%;
    justify-content: flex-start;
  }

  footer .foot-container .row-up .links .soc a {
    margin-right: 25px;
  }
}

@media screen and (max-width: 560px) {
  header nav div {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    flex-basis: calc(50% - 0px);
  }

  main .slider .title_slider .title {
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    word-wrap: break-word;
    width: calc(100% - 0px);
  }

  main .slider .title_slider .title h2,
  main .slider .title_slider .title span {
    font-size: 30px;
  }

  main .grey .container .row-betw .info {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }

  main .tv .container .title h2,
  main .tv .container .slider .title_slider .title span,
  main .slider .title_slider .tv .container .title span {
    font-size: 24px;
  }

  main .tv .container .title p {
    font-size: 12px;
  }

  main .team .container .row-man .wrap-man {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }

  main .content .container .add-news .news {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    word-wrap: break-word;
    flex-basis: calc(100% - 30px);
  }
}